name: docbot_app
description: Simple DocBotApp client
publish_to: "none"
version: 0.1.0

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  http: any
  image_picker: any
  path_provider: any

flutter:
  uses-material-design: true
